.cart{
    background-color: rgb(89, 7, 7);
    padding-left: 20px;
    padding-bottom: 10px;    
    color: aliceblue;
    border-radius: 8px;
    margin-top: 10px;
    position: sticky;
    top: 0;
    
}
.cart h1{
    padding-top: 15px;
}