.product {
    width: 300px;
    height: 508px;
    border-radius: 8px;
    border: 1px solid #95A0A7;
    position: relative;
    
}

.product img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}

.product-info {
    margin-left: 14px;


}

.product-info p {
    margin-top: 5px;
}

.product-name {
    font-size: 21px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.btn-cart {
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #95A0A7;
    background-color: rgb(89, 7, 7);
    position: absolute;
    bottom: 0;
    height: 48px;
    font-size: 15px;
    color: aliceblue;
       
}

.btn-cart:hover{
    /* background-color: rgb(188, 8, 8); */
    background-color: aliceblue;
    color: black;
    
    
}