.nav{
    background-color: rgb(89, 7, 7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    font-family: Lato;
    height: 80px;
    

}

.icon{

    color: white;
    

}
.nav-item a{
    text-decoration: none;
    color: white;
    margin: 10px;
    
}
